.search.cliente
    %h2  Busca de clientes
    %table
        -form_tag(clientes_search_do_path, :method => 'get') do
            %tr
                %td=label_tag "Nome"
                %td=text_field_tag :nome, params[:nome]

            %tr
                %td=label_tag "RG"
                %td=text_field_tag :rg, params[:rg]

            %tr
                %td=label_tag "situação do Pedido"
                %td=select_tag :situacao,  options_for_select(@situacao), :include_blank => true
            
            %tr
                %td=label_tag "Equipamento do pedido"
                %td=select_tag :equipamento, options_from_collection_for_select(@equipamentos , 'id', 'nome'), :include_blank => true
            %tr
                %td=submit_tag "Buscar"
