%div#ordem_servico
    %table
        %th
        %th
        %th Tipo Pedido
        %th Cliente
        - @ordem_servicos.each do |ordem_servico|
            %tr
                %td= select_link ordem_servico_path(ordem_servico.id)
                %td= edit_link edit_ordem_servico_path(ordem_servico.id)
                %td= ordem_servico.tipo_pedido
                %td= ordem_servico.cliente.nome unless ordem_servico.cliente.nil?

