%ul
  %li= link_to "Por tipo de Pedido", relatorios_tipo_pedido_path
  %li= link_to "Por tipo de Situação", relatorios_tipo_situacao_path
  %li= link_to "Por tipo de Equipamento", relatorios_tipo_equipamento_path
