.tipo_pedidos
  %h1 Pedidos por Tipo de Pedidos
  %table
    %th Tipo
    %th Quantidade
    - @tipo_pedidos.each_pair do |k, v|
      %tr
        %td
          = k
        %td
          = v
        %td
          =  select_link ordem_servico_search_do_path(:tipo_pedido => k) 
