.users.insert
%table
    %th Nome
    %th E-mail
    -@users.each do |user|
        %tr
            %td= user.name
            %td= user.email
            %td= link_to "Detalhes", user_path(user.id)
            %td= link_to "Editar", edit_user_path(user.id)

.links
    =link_to "Novo", new_user_path

