.user.show

    %h2= @user.name
    %p Dados do Usuário
    %table
        %tr
            %th Email
        %tr
            %td @user.email

-content_for :submenu do
    %ul
        %li= link_to "Voltar", users_path

